.container2{
    display: flex;
    justify-content: space-around;
    /* background-color: red; */
    flex-wrap: wrap;
    margin-top: 100px;

}
.container2 .left img{
    height: 50px;
    width: 50px;
    border-radius: 50%;
    border: 1px solid black;
}
.container2 .card{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: whitesmoke;
  
    border-radius: 15px;
   padding: 10px;
   width: 200px;
   margin-bottom: 10px;
}
.container2 .right{
    padding-left: 20px;
    line-height: 0;
}
@media (max-width: 998px){
    .container2 .card{
        padding: 1px;
        /* margin-right: 10px; */
        display: flex;
        flex-direction: column;
    }
}